body {
  font-family: "Raleway", sans-serif;
  /* background-color: #ccbf0a !important; */
  background-color: rgb(102, 51, 153) !important;
  margin: 0;
}


.heading{
  margin: 20px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: cursive;
  font-weight: 900;
  color: black;
  font-size: 50px;
text-shadow:6px 2px 9px aliceblue;  
}

.ques-1,.ques-2,.ques-3,.ques-4,.ques-5,.ques-6,.ques-7,.ques-8,.ques-9,.ques-10{
  background-color: rgba(211, 202, 202, 0.582);
  border-radius: 50px;
  margin: 30px;
  color:black;
  box-shadow: 0 0 10px 3px rgb(49, 49, 49);
  font-size: 20px;
}

.q-1, .q-2,.q-3,.q-4,.q-5,.q-6,.q-7,.q-8,.q-9,.q-10{
  padding: 20px;
}

#btn{
justify-content: center;
border-radius: 20px;
float: right;
margin: 10px 10px 20px  ;
font-weight: 700;
padding: 9px;
box-shadow: 0 0 10px 3px rgb(255, 255, 255);
 
}

#btn:hover{
  background-color: rgba(0, 0, 0, 0.548);
color: white;
}